<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <input type="number" name="category" placeholder="Номер категории" />
        <input type="text" name="categoryName" placeholder="Название категории"/>
        <input type="number" name="number" placeholder="Инвентариционный номер"/>
        <input type="text" name="name" placeholder="Название"/>
        <input type="number" name="quality" placeholder="Количество"/>
        <select name="place">
            <option>Администратор</option>
            <option>Оранжевый класс</option>
            <option>Зелёный класс</option>
            <option>Холл</option>
            <option>Стелаж технический</option>
        </select>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>