{% extends "base.html" %}
{% block PageContent %}
    {% if user_added %}
        <script>
            alert("Пользователь существует")
        </script>
    {% endif %}
    {% if session["can_add_users"] == "true" %}
        <form action="" method="post">
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != "csrf_token" %}
                <div>
                    {{ field.label() }}
                    {{ field() }}
                    {% for error in field.errors %}
                        <div style="color: red">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
    {% else %}
        <p>У вас не достаточно прав</p>
    {% endif %}
{% endblock %}